:root{
    --bg-color: #383838;
    --font-color: #f9f9f9;
    --main-color: #77ff00;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    overflow: hidden;
}

header{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#players-input{
    padding: 15px;
    border: 1px solid #77ff00;
    background-color: var(--font-color);
    color: var(--bg-color);
    border-radius: 15px;
}

.button-add{
    padding: 1px 5px;
    background-color: var(--font-color);
    border: 2px solid #77ff00;
}
.button-add:hover{
    background-color: #77ff00;
    transition: 0.5s;
    cursor: pointer;
}

main{
    background-color: var(--bg-color);
    padding-bottom: 50px;
}

section#main-table-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-turn{
    padding: 10px 25px 10px 25px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--font-color);
    font-weight: bold;
    font-size: 16pt;
}

  .container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
      margin-bottom: 10px;
  }
  
  .element-style-main{
    border: 1px solid #77ff00;
    width: 130px;
    height: 130px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    color: var(--bg-color);
    font-size: 75pt;
    cursor: pointer;
  }
  .element-style-main:hover{
    transition: 0.5s;
    background-color: #77ff00;
    scale: 1.025;
  }

  